PORT=3007
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/fastbite
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your-super-secret-jwt-key
CORS_ORIGIN=*
FIREBASE_SERVER_KEY=your-firebase-server-key

